<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    @if (@Context.Session.GetString("UserId" != null))
    {
        <form asp-controller="Home" asp-action="Logout">
        <p>SUCCESS!</p>
        <button class="btn-link">Logout (@Context.Session.GetString("FullName"))</button>
        </form>
    }
</body>
</html>